

@mixin medias ($breakpoint){
    @if $breakpoint == mobile {
        @media (min-width:460px){
            @content;
        }
    }

    @if $breakpoint == tablet {
        @media (min-width:600px){
            @content;
        }
    }

    @if $breakpoint == desktop {
        @media (min-width:1024px){
            @content;
        }
    }
}

nav {

    /* flex ($display,$direction,$justify,$align) */
    @include flex(flex,column,center,center);
    height: 15vh;
    width: 100%;
    background-color: $primaryBackColor;
        a {
            width: 30%;
            img {
                width: 50%;
                margin: 3% 0 5% 5%;
            }
        }
    ul {
        display: flex;
        li {
            margin-top: 5%;
            list-style: none;
            a {
                font-size: 1em;
                text-decoration: none;
                color: $primaryTextColor;
                margin-right: 3vw;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
                    &:hover {
                        color: burlywood;
                        font-weight: 600;
                        background-size: 100% 2px;
                    }
            }
        }
    }
    
    @include medias (mobile){
        @include flex(flex,column,center,center);
        width: $w-100;
        height: auto;
            a{
                margin-left: 10%;
                margin-top: 5%;
            }
    } 
    @include medias (desktop){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 15vh;
        padding-top: 1%;
            a{
                margin-left: 3%;
                margin-bottom: 5%;
                width: 20%;
                img{
                    height: 6vh;
                    width: 4vw;
                }
            }
        ul{
            li{
                margin-top: 0;
                margin-right: 30px;
            }
        }
    }
}
