@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import "_vars.scss";
@import "_nav.scss";
@import "_galeries.scss";
@import "_contact.scss";
@import "_accesories.scss";
@import "_error404.scss";

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background: linear-gradient(90deg, #0172AF, #74febd);
}


@mixin medias ($breakpoint){
    @if $breakpoint == mobile {
        @media (min-width:460px){
            @content;
        }
    }

    @if $breakpoint == tablet {
        @media (min-width:600px){
            @content;
        }
    }

    @if $breakpoint == desktop {
        @media (min-width:1024px){
            @content;
        }
    }
}

//COMIENZO DEL CSS DEL INDEX.HTML

.indexPresentacion{

    @include medias (desktop){
            
            display: flex;
            flex-direction: row;
            .left{
                width: 50%;

                    h1{
                        font-size: 3em;
                        font-weight: 600;
                    }
                    p{
                        color: white;
                        padding: 5%;
                        margin-left: 15%;
                        width: 70%;
                        background-color: $primaryBackColor;
                    }
                    .iconos-de-redes{
                        a{
                            width: 70%;
                            img{
                                width: 30%;
                            }
                        }
                    }       
            }
            .right{
                width: $w-50;
                padding: 7%;
            }
}

    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10%;

    .left{
        margin-top: 10%;
        text-align: center;

        h1{
            font-size: 3em;
            font-weight: 600;
        }
        
        p{
            color: $primaryTextColor;
            padding: 5%;
            background-color: $primaryBackColor;
        }

        .iconos-de-redes{
            display: flex;
            flex-direction: row;
            margin: 6% 0%;
            justify-content: space-around;

                img{
                    width: 50%;
                }
        }
    }

    .right{
        width: $w-100;
    }   

}

@import "_accesories.scss";
@import "_footer.scss";