@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import "_vars.scss";
@import "_nav.scss";
@import "_galeries.scss";
@import "_contact.scss";
@import "_accesories.scss";

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background: linear-gradient(90deg, #0172AF, #74febd);
}


@mixin medias ($breakpoint){
    @if $breakpoint == mobile {
        @media (min-width:460px){
            @content;
        }
    }

    @if $breakpoint == tablet {
        @media (min-width:600px){
            @content;
        }
    }

    @if $breakpoint == desktop {
        @media (min-width:1024px){
            @content;
        }
    }
}

//COMIENZO DEL CSS DEL INDEX.HTML

.indexPresentacion{
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;

    .left{
        margin-top: 10%;
        text-align: center;

        h1{
            font-size: 3em;
            font-weight: 600;
        }
        
        p,h3{
            color: $primaryTextColor;
            padding: 5%;
            background-color: $primaryBackColor;
        }

        div{
            display: flex;
            flex-direction: row;
            margin: 6% 0%;
            justify-content: center;

            img{
                width: $w-50;
            }
        }
    }

    .right{
        width: $w-100;
    }   

    @include medias (desktop){
        
        .indexPresentacion {
            display: flex;
            flex-direction: row;
            width: 100%;
            .left{
                width: 50%;
                    @include flex (flex,column,center,center);
                    h1{
                        font-size: 5em;
                        font-weight: 600;
                    }
                    .iconos-de-redes{
                        a{
                            width: 33%;
                            img{
                                margin-left:5% ;
                                width: 20%;
                            }
                        }
                    }
            }
            .right{
                width: $w-50;
                padding: 7%;
            }
        }
}

}

@import "_accesories.scss";
@import "_footer.scss";